"tag_contact" = "Your Name"
"contact_shortname" = "myname"
"image_name" = "VHD from Launch Instructions"
"windows_user" = "hab"
"windows_password" = "habpassword from Launch Instructions"
"azure_region" = "East US"
"tag_dept" = "Your Department"
"tag_customer" = "Your Customer"
"tag_project" = "App Modernization Demo"
"azure_sub_id" = "YOUR_SUBSCRIPTION_ID"
"azure_tenant_id" = "YOUR_TENANT_ID"